* {
  background-color: gray;
  font-family: helvetica;
}

h1 {
    color: blue;
    font-weight: bold;
    text-align: center;
}

p {
    color: lightblue;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
