* {
    background-color:gray;
}

h1 {
    color: blue;
    font-family: verdana;
    font-weight: bold;
}

p {
    color: gray;
    font-family: verdana;
    font-weight: bold;
    font-style: italic; 
}